<?xml version="1.0" encoding="UTF-8"?>
 
<Configuration status="info" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${web:rootDir}/Log4j2</property>
        <property name="TEMP_FILE_NAME">temp</property>
        <property name="ERROR_FILE_NAME">system</property>
        <property name="BUSINESS_FILE_NAME">business</property>
        <property name="SAVE_LOG_DAY">31d</property>
    </properties>
    <Appenders>
        <!--控制台输出-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
 
        <!--临时日志，每次启动程序会清空-->
        <File name="LOG_ROOT_CONSTANT_BUSINESS_LOG" fileName="${LOG_HOME}/${TEMP_FILE_NAME}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <!--自动存入按年份-月份建立的文件夹 info级别-->
        <RollingRandomAccessFile name="LOG_ROOT_CONSTANT_BUSINESS_LOG" fileName="${LOG_HOME}/${BUSINESS_FILE_NAME}_info.log.zip"
                                 filePattern="${LOG_HOME}/${BUSINESS_FILE_NAME}_info/$${date:yyyy-MM}/${BUSINESS_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.zip" immediateFlush="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
	            <Delete basePath="${LOG_HOME}/${BUSINESS_FILE_NAME}_info/$${date:yyyy-MM}" maxDepth="2">
	               <IfFileName glob="business*.log.zip"/>
	               <IfLastModified age="${SAVE_LOG_DAY}"/>
	            </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <!--自动存入按年份-月份建立的文件夹 /$${date:yyyy-MM}-->
        <!-- <RollingRandomAccessFile name="LOG_ROOT_CONSTANT_SYSTEM_LOG" fileName="${LOG_HOME}/${FILE_NAME}_warn.log"
                                 filePattern="${LOG_HOME}/${FILE_NAME}_warn/$${date:yyyy-MM}/%d{yyyy-MM-dd}-%i.log" immediateFlush="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingRandomAccessFile> -->
        <!--自动存入按年份-月份建立的文件夹-->
        <RollingRandomAccessFile name="LOG_ROOT_CONSTANT_SYSTEM_LOG" fileName="${LOG_HOME}/${ERROR_FILE_NAME}_error.log.zip"
                                 filePattern="${LOG_HOME}/${ERROR_FILE_NAME}_error/$${date:yyyy-MM}/${ERROR_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.zip" immediateFlush="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        
        </RollingRandomAccessFile>
 
    </Appenders>
 
    <Loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework.core" level="INFO"/>
        <logger name="org.springframework.beans" level="INFO"/>
        <logger name="org.springframework.context" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.youke.action.app" level="INFO" includeLocation="true" additivity="false">
            <appender-ref ref="LOG_ROOT_CONSTANT_SYSTEM_LOG"/>
            <appender-ref ref="Console"/>
        </logger>
        <root level="all" includeLocation="true">
            <appender-ref ref="LOG_ROOT_CONSTANT_SYSTEM_LOG"/>
            <appender-ref ref="LOG_ROOT_CONSTANT_BUSINESS_LOG"/>
        </root>
    </Loggers>
</Configuration>